<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeset.album.mapper.AlbumMapper">
    <select id="findAll" resultType="com.timeset.album.entity.Album">
        select * from album
    </select>

    <insert id="addAlbum" useGeneratedKeys="true">
        insert into album(user_id,theme,album_name) values(#{userId},#{theme},#{albumName})
    </insert>

    <delete id="deleteAlbum">
        delete from album where id = #{id}
    </delete>


    <update id="updateNameAlbum">
        update album
        set album_name=#{albumName}
        where id = #{id} and user_id=#{userId}
    </update>


    <update id="updateThemeAlbum">
        update album
        set theme=#{theme}
        where id = #{id} and user_id=#{userId}
    </update>


</mapper>