<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timeset.user.mapper.UserMapper">
    <select id="selectAllPhone" resultType="com.timeset.user.entity.User">
        select id,phone from user
    </select>

    <select id="findByPhone" resultType="com.timeset.user.entity.User">
        select *from user where phone = #{phone}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.timeset.user.entity.User">
        insert into user (phone,password,user_name,head_img) values()
    </insert>
</mapper>